.cache
.config
.local
.oh-my-zsh
.vscode-server
.bash_logout
.bashrc
bin
include
lib
lib64
share
.bash_history
.init_done
.profile
.wget-hsts
__pycache__
.dotnet
.mc
.onnxvenv
.zcompdump
.zsh_history
.zshrc
pyvenv.cfg
*.code-workspace
*.ipynb_checkpoints
appsecadero.code-workspace


