<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitor de Predicciones Secadero</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Monitor de Predicciones Secadero</h1>

        <div class="form-group d-flex align-items-center justify-content-center mt-4">
            <div class="d-flex align-items-center justify-content-between col-6">
                <label for="modelSelect" class="col-form-label col-4 text-center">Seleccionar Modelo:</label>
                <select class="form-control" id="modelSelect">
                    {% for model in model_files %}
                    <option value="{{ model }}">{{ model }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-primary ml-2" onclick="loadModel()">Cargar Modelo</button>
            <button class="btn btn-danger ml-2" onclick="resetPredictions()">Limpiar Predicciones</button>
        </div>

        <div class="d-flex">
            <div class="chart-container">
                <canvas id="predictionChart"></canvas>
            </div>

            <div id="last-prediction-container" class="last-prediction-container">
                <!-- Last prediction content will be loaded here -->
            </div>
        </div>

        <div id="predictions" class="container text-center" style="width: 100%; max-height: 150px; overflow-y: scroll;">
            <!-- Predictions content will be loaded here -->
        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>